/GASAssociate5_0/*
!/GASAssociate5_0/Config
!/GASAssociate5_0/Content
!/GASAssociate5_0/Plugins
!/GASAssociate5_0/Source
!/GASAssociate5_0/GASAssociate5_0.uproject
/GASAssociate5_0/Plugins/GASAssociate/Binaries
/GASAssociate5_0/Plugins/GASAssociate/Intermediate
/GASAssociate5_0/Plugins/GASAssociateHelper/Binaries
/GASAssociate5_0/Plugins/GASAssociateHelper/Intermediate
/GASAssoociate4_27/*
!/GASAssoociate4_27/Config
!/GASAssoociate4_27/Content
!/GASAssoociate4_27/Plugins
!/GASAssoociate4_27/Source
/GASAssoociate4_27/Plugins/GASAssociate/Binaries
/GASAssoociate4_27/Plugins/GASAssociate/Intermediate
/GASAssoociate4_27/Plugins/GASAssociateHelper/Binaries
/GASAssoociate4_27/Plugins/GASAssociateHelper/Intermediate
